@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="card">
    <h1 class="card-header">
        登录
    </h1>
    <form class="card-body" method="post">
        <div>
            <p>用户名</p>
            <input type="text" asp-for="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <p>密码</p>
            <input type="password" asp-for="Password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <button class="btn btn-primary" asp-action="Login">登录</button>
            <a asp-action="Register" class="btn btn-link">注册</a>
        </div>
    </form>
</div>