name: Docker Build Image

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Image
        uses: docker/build-push-action@v6.3.0
        with:
          tags: ghcr.io/${{ github.repository }}:latest
          push: false
